BODY {
    font-family: Verdana;
    font-size: 15px;
    margin-left: 20px;
    margin-top: 5px;
}

.default {
    background-color: #2b542c;
    color: #FFFFFF;
}

.matrix {
    background-color: #000000;
    color: #398439;
}

.cmdline {
    outline: none;
    background-color: transparent;
    margin: 0;
    width: 100%;
    font: inherit;
    border: none;
    color: inherit;
    padding-left: 15px;
}

.typing_area {
    position: relative;
    margin-top: 20px;
}

.icon-mark {
    position: absolute;
    padding-top: 3px;
}

.line-typed {
    position: relative;
}

.text-typed {
    outline: none;
    padding-left: 15px;

}