<form ng-submit="command()">
    <div id="lineTyped" class="line-typed">
    </div>

    <span class="typing_area">
        <span class="glyphicon glyphicon-menu-right icon-mark"></span>
        <input class="cmdline" ng-model="typing"/>
    </span>
</form>